<!-- =========================Start Homepage section============================= -->
<section id="homepage">
<header>
  <div class="container">
    <div class="four columns">
    	<a href="#homepage" class="scroll_home"><img src="assets/logo-2.png" width="140" height="26" alt="Logo" class="scale-with-grid" id="logo-in"></a><!-- Your logo -->
    </div> 
    
    <div class="btn-responsive-menu"> <span class="icon-bar"></span> <span class="icon-bar"></span><span class="icon-bar"></span></div> <!-- Responsive nav button -->
    
    <nav class="twelve columns omega" id="top-nav"> 
     <div id="lang">
    	<ul>
        <li id="french"><a href="#">French</a></li>
        <li id="german"><a href="#">German</a></li>
        </ul>
    </div>
      <!-- Start Nav Links -->
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#rooms">Rooms</a></li>
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="#activities">Activities</a></li>
        <li><a href="#contact">Contacts</a></li>
        <li class="external"><a href="#" target="_blank">Purchase</a></li>
      </ul><!-- End Nav Links -->
	</nav><!-- End Navigation -->
    
</div>
</header>

  <div id="intro-txt">
    <h1>Welcome guests</h1>
    <h2>Cosy Bed and Breakfast in <strong>PARIS</strong> where to stay</h2>
    <p id="logos"><img src="assets/trip-advisor-1.png" width="162" height="31" alt=""> <img src="assets/air-bnb.png" width="97" height="37" alt=""></p>
    <div class="links-home"> <a href="#about" class="button_enter">Visit the website</a><a href="#contact" class=" button_check">Check availability</a></div>
  </div><!-- End intro text --> 
  
  <a id="prevslide" class="load-item"></a> <a id="nextslide" class="load-item"></a>
  <div id="footer-homepage">© 2013  B&amp;B - Info line: <strong>098 4294820349 </strong></div>
</section>
<!-- =========================Start Homepage section============================= -->

<!-- =========================Start About section============================= -->
<section id="about">
  <div class="section-title-2">
   <div class="container">
    <h2>About the place</h2>
    <p>- A short description of the place and the accommodation - </p>
   </div>
  </div>
  <div class="container"> 
    <!-- Carousel items -->
    <div class="mycont">
      <ul class="mycarousel">
        <li class="item">
          <figure><a href="assets/patio.jpg"><div class="icon-hover" ></div><img src="assets/patio.jpg" class="scale-with-grid" alt=""></a></figure>
          <div class="spacer-2">
            <h3>Nice patio <span>Sed ut perspiciatis unde</span></h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>
          </div>
        </li>
        <li class="item">
          <figure ><a href="assets/swimm.jpg"><div class="icon-hover" ></div><img src="assets/swimm.jpg" class="scale-with-grid" alt=""></a></figure>
          <div class="spacer-2">
            <h3>Swimming pool<span>Sed ut perspiciatis unde</span></h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>
          </div>
        </li>
        <li class="item">
          <figure ><a href="assets/seaview.jpg"><div class="icon-hover" ></div><img src="assets/seaview.jpg" class="scale-with-grid" alt=""></a></figure>
          <div class="spacer-2">
            <h3>Nice sea view<span>Sed ut perspiciatis unde</span></h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>
          </div>
        </li>
        <li class="item">
          <figure ><a href="assets/entrance.jpg"><div class="icon-hover" ></div><img src="assets/entrance.jpg" class="scale-with-grid" alt=""></a></figure>
          <div class="spacer-2">
            <h3>Main entrance<span>Sed ut perspiciatis unde</span></h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>
          </div>
        </li>
        <li class="item">
        	<figure ><a href="assets/balcony.jpg">
        		<div class="icon-hover" ></div><img src="assets/balcony.jpg" alt="" class="scale-with-grid" ></a></figure>
        		<div class="spacer-2">
	        	 <h3>Second balcony<span>Sed ut perspiciatis unde</span></h3>
	        	 <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>
          </div>
        </li>
        <li class="item">
          <figure ><a href="assets/parking.jpg"><div class="icon-hover" ></div><img src="assets/parking.jpg" alt="" class="scale-with-grid" ></a></figure>
          <div class="spacer-2">
            <h3>Parking<span>Sed ut perspiciatis unde</span></h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>
          </div>
        </li>
      </ul>
    </div>
    <hr>
    
    <div class="row clearfix">
    <article class="eight columns">
    <h3 >Description <span>of the accommodation</span></h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Sed ut perspiciatis unde omnis iste natus error sit <strong>voluptatem accusantium doloremque</strong> laudantium, totam rem aperiam, eaque ipsa.</p>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
    </article>
    <article class="eight columns">
     <h3 >Other info <span>of the accommodation</span></h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, <strong><a href="#">totam rem aperiam</a></strong>, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>
      <p><strong>Sed ut perspiciatis unde omnis iste natus error</strong> sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
    </article>
    </div>
 
    
    <article id="main-facilties" class="clearfix row">
      <div class="four columns"><span><a href="#"><img src="assets/facilities-1.png" alt="" class="scale-with-grid" ></a></span><h4>Swimming poll</h4></div>
        <div class="four columns"><span><a href="#"><img src="assets/facilities-2.png" alt="" class="scale-with-grid"></a></span><h4>Plasma cable tv</h4></div>
        <div class="four columns"><span><a href="#"><img src="assets/facilities-3.png" alt="" class="scale-with-grid"></a></span><h4>Breakfast</h4></div>
        <div class="four columns "><span><a href="#"><img src="assets/facilities-4.png" alt="" class="scale-with-grid"></a></span><h4>Restaurant</h4></div>
    </article>
    
    <hr>

     <div class="section-title-3">
     <h3>Weather forecast</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
    </div>
	<div id="weather" class="clearfix"></div>
</div><!-- End Container --> 
</section>
<!-- =========================End About section============================= -->

<!-- Start Background -->
<div id="bg-container-2">
<a href="#about" class="scroll_a"> Back to top</a> <span class="border-top"></span>
  <div class="bg2"></div>
  <div class="container">
    <div class="section-title">
      <h2>Testimonials</h2>
    </div>
    <article class="twelve columns offset-by-two" >
      <div id="testimonials">
        <ul >
          <li><blockquote>&quot;Legimus volumus qui in, usu unum adhuc debitis no, ius sumo zril id. Cu mel vitae nostrud. Eu omnis recusabo aliquid delenit at&quot;.</blockquote><cite>by Alabama</cite> </li>
          <li><blockquote>&quot;Eos case fabellas patrioque ex, libris discere sea eu. Ius  patrioque no. Legimus volumus qui, ius sumo zril id. Cu mel vitae nostrud&quot;.</blockquote><cite>by Georgia</cite> </li>
          <li><blockquote>&quot;Cu ridens tibique sea, nec ut purto alterum molestie, ei vix. Ex vis agam inimicus ocurreret, te feugiat consequuntur mea&quot;.</blockquote><cite>by West Virginia</cite> </li>
        </ul>
      </div>
    </article>
    <br class="clear">
  </div>
</div><!-- End Background -->

<!-- =========================Start Rooms section============================= -->
<section id="rooms" >
  <div class="section-title-2">
  <div class="container">
    <h2>Our rooms</h2>
    <p>- A short description of the place and the accommodation - </p>
    </div>
  </div>
  <div class="container"> 
  
    <!-- Start Room 1 -->
    <article class="clearfix">
      <div class="seven columns alpha">
        <div class="flexslider">
          <ul class="slides">
            <li><figure><a href="assets/room-1.jpg"><div class="icon-hover" ></div><img src="assets/room-1.jpg" alt=""></a></figure><p class="flex-caption">Gardenia Main room</p></li>
            <li><figure><a href="assets/room-1_2.jpg"><div class="icon-hover" ></div><img src="assets/room-1_2.jpg" alt=""></a></figure><p class="flex-caption">Bath room</p></li>
            <li><figure><a href="assets/room-1_3.jpg"><div class="icon-hover" ></div><img src="assets/room-1_3.jpg" alt=""></a> </figure><p class="flex-caption">Secondary room</p></li>
          </ul>
          <span class="price-green">109<small>$</small><em>per night</em></span> </div><!-- end flexi--> 
      </div>
      
      <div class="nine columns omega">
        <div class="spacer-3">
          <h3>Gardenia<span>Sed ut perspiciatis unde</span></h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
          <ul class="room_facilities">
            <li class="occupancy"><a class="tooltip_1" href="#" title="Max occupancy 2 people">Max occupancy</a></li>
            <li class="lcd"><a class="tooltip_1" href="#" title="LCD TV">LCD TV</a></li>
            <li class="wifi"><a class="tooltip_1" href="#" title="Wifi broadband access">Wifi broadband access</a></li>
            <li class="breakfast"><a class="tooltip_1" href="#" title="Breakfast included">Breakfast included</a></li>
            <li class="air-warm"><a class="tooltip_1" href="#" title="Air condition warm">Air condition warm</a></li>
            <li class="air-cold"><a class="tooltip_1" href="#" title="Air condition cold">Air condition cold</a></li>
            <li class="pet"><a class="tooltip_1" href="#" title="Pet allowed">Pet allowed</a></li>
          </ul>
        </div>
      </div>
    </article><!-- End Room 1 --> 
    
    <!-- Start Room 2 -->
    <article class="clearfix">
      <div class="seven columns alpha">
        <div class="flexslider">
          <ul class="slides">
            <li><figure><a href="assets/room-1.jpg"><div class="icon-hover" ></div><img src="assets/room-1.jpg" alt=""></a></figure><p class="flex-caption">Magnolia Main room</p></li>
            <li><figure><a href="assets/room-1_2.jpg"><div class="icon-hover" ></div><img src="assets/room-1_2.jpg" alt=""></a></figure><p class="flex-caption">Bath room</p></li>
            <li><figure><a href="assets/room-1_3.jpg"><div class="icon-hover" ></div><img src="assets/room-1_3.jpg" alt=""></a> </figure><p class="flex-caption">Secondary room</p></li>
          </ul>
          <span class="price-aqua">129<small>$</small><em>per night</em></span> </div><!-- end flexi--> 
        </div>
        
      <div class="nine columns omega">
        <div class="spacer-3">
          <h3>Magnolia<span>Sed ut perspiciatis unde</span></h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
          <ul class="room_facilities">
            <li class="occupancy"><a class="tooltip_1" href="#" title="Max occupancy 2 people">Max occupancy</a></li>
            <li class="lcd"><a class="tooltip_1" href="#" title="LCD TV">LCD TV</a></li>
            <li class="wifi"><a class="tooltip_1" href="#" title="Wifi broadband access">Wifi broadband access</a></li>
			<li class="dinner"><a class="tooltip_1" href="#" title="Dinner included">Dinner included</a></li>
            <li class="safe"><a class="tooltip_1" href="#" title="Safe-deposit box">Safe-deposit box</a></li>
            <li class="swimming"><a class="tooltip_1" href="#" title="Free entrance Swimming Poll">Swimming poll</a></li>
            <li class="loundry"><a class="tooltip_1" href="#" title="Loundry service">Loundry service</a></li>
          </ul>
        </div>
      </div>
    </article><!-- End Room 2 --> 
    
    <!-- Start Room 3 -->
    <article class="clearfix">
      <div class="seven columns alpha">
        <div class="flexslider">
          <ul class="slides">
            <li><figure><a href="assets/room-1.jpg"><div class="icon-hover" ></div><img src="assets/room-1.jpg" alt=""></a></figure><p class="flex-caption">Gold Main room</p></li>
            <li><figure><a href="assets/room-1_2.jpg"><div class="icon-hover" ></div><img src="assets/room-1_2.jpg" alt=""></a></figure><p class="flex-caption">Bath room</p></li>
            <li><figure><a href="assets/room-1_3.jpg"><div class="icon-hover" ></div><img src="assets/room-1_3.jpg" alt=""></a> </figure><p class="flex-caption">Secondary room</p></li>
          </ul>
          <span class="price-blue">159<small>$</small><em>per night</em></span> </div><!-- end flexi--> 
      </div>
      <div class="nine columns omega">
        <div class="spacer-3">
          <h3>Magnolia gold<span>Sed ut perspiciatis unde</span></h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
          <ul class="room_facilities">
            <li class="occupancy"><a class="tooltip_1" href="#" title="Max occupancy 2 people">Max occupancy</a></li>
            <li class="lcd"><a class="tooltip_1" href="#" title="LCD TV">LCD TV</a></li>
            <li class="wifi"><a class="tooltip_1" href="#" title="Wifi broadband access">Wifi broadband access</a></li>
            <li class="parking"><a class="tooltip_1" href="#" title="Parking">Parking</a></li>
            <li class="bath"><a class="tooltip_1" href="#" title="Large master bathroom">Large master bathroom</a></li>
            <li class="air-cold"><a class="tooltip_1" href="#" title="Air condition cold">Air condition cold</a></li>
          </ul>
        </div>
      </div>
    </article><!-- End Room 3 -->
    

    <div class="sixteen columns clearfix">
    <!-- start pricing table -->
    <table class="add-bottom_3" id="rates">
      <thead>
        <tr>
          <th>Room Type</th>
          <th>Low<br>
            from 23/03 to 31/05</th>
          <th>Middle<br>
            from 23/03 to 31/05</th>
          <th>High<br>
            from 23/03 to 31/05</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Gardenia</td>
          <td>99$</td>
          <td>120$</td>
          <td>140$</td>
        </tr>
        <tr>
          <td>Magnolia</td>
          <td>120$</td>
          <td>150$</td>
          <td>180$</td>
        </tr>
        <tr>
          <td>Magnolia Gold</td>
          <td>140$</td>
          <td>170$</td>
          <td>200$</td>
        </tr>
      </tbody>
    </table>
    </div>
    
    <div class=" one-third column">
   	  <div class="info-box">
    	<h4 class="add-info">Addtional info</h4>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab.</p>
        <p>Sed ut perspiciatis unde  accusantium doloremque laudantium omnis iste natus error sit voluptatem accusantium.</p>
      </div>
    </div>
    
    <div class=" one-third column">
    	<div class="info-box">
    	<h4 class="payments">Payments</h4>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium <a href="#">doloremque laudantium</a>, totam rem aperiam, eaque ipsa quae ab.</p>
        <p>Sed ut perspiciatis unde  accusantium doloremque laudantium omnis iste natus error sit voluptatem accusantium.</p>
        </div>
    </div>
    
      <div class=" one-third column">
    	<div class="info-box">
    	<h4 class="rules">Rules</h4>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
          <ul class="list_3">
            <li><strong>Voluptatem</strong> doloremque lauda voluptatem accusantium.</li>
            <li><strong>Perspiciatis </strong> iste natus error sit laudantium, totam rem aperiam.</li>
          </ul>
        </div>
    </div>
    
    </div>  
</section>
<!-- =========================Start Rooms section============================= -->


<!-- Start Background -->
<section id="gallery">
<div id="bg-container-3">  <a href="#about" class="scroll_a"> Back to top</a> <span class="border-top"></span>
<div class="bg3"></div>
  <div class="container">
  <div class="section-title ten columns gallery">
    	<h2>More pictures?</h2>
   </div>
   <div class="six columns">
        <span class="gallery-bt"><a href="fullscreen_gallery.html"><img src="assets/fullscreen-button.png" width="213" height="152" alt=""></a></span>
   </div>
 </div>
</div>
</section><!-- End Background -->

<!-- =========================Start Activites section============================= -->
<section id="activities">
  <div class="section-title-2">
  <div class="container">
    <h2>Activities</h2>
    <p>- Eos case fabellas patrioque ex, libris discere sea  us ullum -</p>
   </div>
  </div>
  <div class="container">
  
    <article class="one-third column">
      <figure><span></span><img src="assets/to_do_1.jpg" class="scale-with-grid" alt=""></figure>
      <h3>Tipical food<span>course and workshop</span></h3>
      <p>Eos case fabellas patrioque ex, libris discere sea eu. Ius ullum melius patrioque no. Legimus volumus qui in, usu unum adhuc debitis no, ius sumo zril id. </p>
      <a href="#" class="button_3"> read more</a>
   </article>
   
    <article class="one-third column">
      <figure><span></span><img src="assets/to_do_2.jpg" class="scale-with-grid" alt=""></figure>
      <h3>Diving<span>course and workshop</span></h3>
      <p>Eos case fabellas patrioque ex, libris discere sea eu. Ius ullum melius patrioque no. Legimus volumus qui in, usu unum adhuc debitis no, ius sumo zril id. </p>
      <a href="#" class="button_3"> read more</a>
    </article>
    
    <article class="one-third column">
      <figure><span></span><img src="assets/to_do_3.jpg" class="scale-with-grid" alt=""></figure>
      <h3>Horse <span>course and workshop</span></h3>
      <p>Eos case fabellas patrioque ex, libris discere sea eu. Ius ullum melius patrioque no. Legimus volumus qui in, usu unum adhuc debitis no, ius sumo zril id. </p>
      <a href="#" class="button_3"> read more</a>
    </article>
    
    <hr>
    
    <div class="section-title-3">
      <h3>Tours available</h3>
      <p>A short description of the place and the accommodation </p>
    </div>
    <div class="eight columns">
      <h4 class="tours">Museums tour</h4>
      <dl class="accordion">
        <dt><a href="#">Louvre Museum - 10.00 AM</a></dt>
          <dd>Eos case fabellas patrioque ex, libris discere sea eu. Ius ullum melius patrioque no. Legimus volumus qui in, usu unum adhuc debitis no, ius sumo zril id.  Eos case fabellas patrioque ex, libris discere sea eu. Ius ullum melius patrioque no. Legimus volumus qui in, usu unum adhuc debitis no, ius sumo zril id. </dd>
          <dt><a href="#">Tour Eiffel - 14.00 PM</a></dt>
          <dd>Eos case fabellas patrioque ex, libris discere sea eu. Ius ullum melius patrioque no. Legimus volumus qui in, usu unum adhuc debitis no, ius sumo zril id.  Eos case fabellas patrioque ex, libris discere sea eu. Ius ullum melius patrioque no. Legimus volumus qui in, usu unum adhuc debitis no, ius sumo zril id. </dd>
          <dt><a href="#">Mont Parnasse - 16.00 PM</a></dt>
          <dd>Eos case fabellas patrioque ex, libris discere sea eu. Ius ullum melius patrioque no. Legimus volumus qui in, usu unum adhuc debitis no, ius sumo zril id.  Eos case fabellas patrioque ex, libris discere sea eu. Ius ullum melius patrioque no. Legimus volumus qui in, usu unum adhuc debitis no, ius sumo zril id. </dd>
          <dt><a href="#">Impressionist Museum - 18.00 PM</a></dt>
          <dd>Eos case fabellas patrioque ex, libris discere sea eu. Ius ullum melius patrioque no. Legimus volumus qui in, usu unum adhuc debitis no, ius sumo zril id.  Eos case fabellas patrioque ex, libris discere sea eu. Ius ullum melius patrioque no. Legimus volumus qui in, usu unum adhuc debitis no, ius sumo zril id. </dd>
      </dl>
    </div><!-- End first accordion -->
    
    <div class="eight columns">
      <h4 class="tours">Streets tour</h4>
      <dl class="accordion ">
        <dt><a href="#">Trocadero - 10.00 AM </a></dt>
          <dd>Eos case fabellas patrioque ex, libris discere sea eu. Ius ullum melius patrioque no. Legimus volumus qui in, usu unum adhuc debitis no, ius sumo zril id.  Eos case fabellas patrioque ex, libris discere sea eu. Ius ullum melius patrioque no. Legimus volumus qui in, usu unum adhuc debitis no, ius sumo zril id. </dd>
          <dt><a href="#">Versailles - 14.00 PM</a></dt>
          <dd>Eos case fabellas patrioque ex, libris discere sea eu. Ius ullum melius patrioque no. Legimus volumus qui in, usu unum adhuc debitis no, ius sumo zril id.  Eos case fabellas patrioque ex, libris discere sea eu. Ius ullum melius patrioque no. Legimus volumus qui in, usu unum adhuc debitis no, ius sumo zril id. </dd>
          <dt><a href="#">Place Concorde - 16.00 PM</a></dt>
          <dd>Eos case fabellas patrioque ex, libris discere sea eu. Ius ullum melius patrioque no. Legimus volumus qui in, usu unum adhuc debitis no, ius sumo zril id.  Eos case fabellas patrioque ex, libris discere sea eu. Ius ullum melius patrioque no. Legimus volumus qui in, usu unum adhuc debitis no, ius sumo zril id. </dd>
          <dt><a href="#">Champs Elysee - 18.00 PM</a></dt>
          <dd>Eos case fabellas patrioque ex, libris discere sea eu. Ius ullum melius patrioque no. Legimus volumus qui in, usu unum adhuc debitis no, ius sumo zril id.  Eos case fabellas patrioque ex, libris discere sea eu. Ius ullum melius patrioque no. Legimus volumus qui in, usu unum adhuc debitis no, ius sumo zril id. </dd>
      </dl>
    </div><!-- End second accordion -->
    
  </div>
</section>
<!-- =========================End Activites section============================= -->


<!-- Start Background -->
<section id="bg-container-4">
<a href="#about" class="scroll_a"> Back to top</a> <span class="border-top"></span><span class="border-top"></span>
  <div class="bg4"></div>
  <div class="container">
    <div class="section-title">
      <h2>More info?</h2>
      <p >Call us at<strong> +353 1 234 566 78</strong> to get more info on accommodation</p>
    </div>
  </div>
</section><!-- End Background -->

<!-- =========================Start Contact section============================= -->
<section id="contact">
  <div class="section-title-2">
  <div class="container">
    <h2>Contact us</h2>
    <p>- Legimus volumus qui in usu unum adhuc debitis no  - </p>
  </div>
  </div>
  
  <div class="container">
  
    <div  class="one-third column ">
      <ul class="add-bottom_2">
        <li><h4>Las Palmas de Gran Canaria</h4></li>
        <li>Postal Code 2034 BXU</li>
        <li>+353 1 234 566 78 / +353 1 4 566 78</li>
        <li><a href="#">info@emailaddress.com</a> - <a href="#">www.domain.com</a></li>
      </ul>
      <h4 id="directions">Get directions<span>(Ex: Las Palmas de Gran Canaria Airport)</span></h4>
        <form action="http://maps.google.com/maps" method="get" target="_blank">
  	 		<input type="text" name="saddr"  placeholder="Enter your location"/>
   			<input type="hidden" name="daddr" value="Calle Triana, 93 35002 Las Palmas de Gran Canaria, Las Palmas, Spagna" />
   			<input type="submit" value="Get directions" class="button_4" />
		</form>     
      <ul class="social-bookmarks clearfix">
        <li class="facebook"><a href="#">facebook</a></li>
        <li class="googleplus"><a href="#">googleplus</a></li>
        <li class="twitter"><a href="#">twitter</a></li>
      </ul>
    </div>
    
    <div  class="two-thirds column">
      <ul class="tabs">
        <!-- Give href an ID value of corresponding "tabs-content" <li>'s -->
        <li><a class="active" href="#firstab-1">Check availability</a></li>
        <li><a href="#firstab-2">General enquire</a></li>
      </ul>
      <ul class="tabs-content contact">
        <!-- Give ID that matches HREF of above anchors -->
        <li class="active" id="firstab-1">
          <form action="http://www.ansonika.com/bed-and-breakfast/availability.php" method="post" id="availability-form">
          <fieldset>
          		<span><label>Check in</label><input class="datepicker required calendar"  type="text" name="check_in" readonly="readonly"></span>
                <span><label>Check out</label><input class="datepicker required calendar" type="text" name="check_out" readonly="readonly"></span>
                <br class="clear">
          </fieldset>      
            <fieldset>
            <span>
                <label>N°of guest</label>
                <select name="guest" class="required">
                  <option value="">- please select -</option>
                  <option>One</option>
                  <option>Two</option>
                  <option>Three</option>
                  <option>Four</option>
                </select>
            </span>
            <span>
            <label>Room type</label>
                <select name="rooms" class="required">
                  <option value="">- please select -</option>
                  <option>Single room</option>
                  <option>Double Room</option>
                  <option>Suite</option>
                </select>
            </span>  
             <br class="clear">
            </fieldset>
            <fieldset>
            <span><label>Your Name</label><input type="text" name="name" class="required"/></span>
            <span><label>Your Last name</label><input type="text" name="last_name" class="required"/></span>
            <br class="clear">
            </fieldset>       
            <fieldset>
            <span><label>Your Email</label><input type="text" name="email" class="required email "></span>
            <span><label>Phone number</label><input type="text" name="phone_number" /></span>
            <br class="clear">
            </fieldset>
            <button type="submit" class="button_4">Check availability</button>
          </form>
        </li>
        <li id="firstab-2">
          <form action="http://www.ansonika.com/bed-and-breakfast/email-send.php" method="post" id="contact-form">
            <fieldset>
            <span><label>Name</label><input name="name" class="required" type="text"/></span>
            <span><label>Last Name</label><input name="last_name" class="required " type="text"/></span>
            <br class="clear">
            </fieldset>
            <fieldset>
            	<span><label> Email</label><input name="email" class="required email" type="email"/></span>
            	<span><label> Phone number</label><input name="phone number" type="text"/></span>
              </fieldset>
              <label style="margin-left:10px;"> Message </label>
              <textarea name="message" class="required"></textarea>
            <button type="submit" class="button_4">Send Message</button>
          </form>
        </li>
      </ul><!-- End tabs--> 
    </div>
    
  </div>
</section>
<!-- =========================end Activites section============================= -->

<div id="map"></div><!-- end map--> 

<!-- Google Maps API --> 
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> 
<script src="js/gmap3.min.js"></script> 
<script >
$('#map').gmap3({
marker:{
    latLng: [28.105005, -15.417058],
	options:{
          icon: "assets/gmap_marker.png"
        }
  },
  map:{
    options:{
      zoom: 12
    }
  }
});
</script> 
<!-- Homepage slideshow --> 
<script src="js/jquery.easing.min.js"></script> 
<script src="js/supersized.3.2.7.min.js"></script> 
<script src="js/supersized.shutter.min.js"></script> 
<script>
jQuery(function($){
$.supersized({
		slides :  	[      // Slideshow Images
		{image : 'assets/slider/1.jpg'},
		{image : 'assets/slider/3.jpg'},
		{image : 'assets/slider/4.jpg'},
		{image : 'assets/slider/5.jpg'} // Last has no comma
		]				
});
});
</script> 
<script src="js/jquery.jcarousel.min.js"></script> 
<script src="js/quotes.min.js"></script> 
<script src="js/flexi_slider.js"></script> 
<script src="js/jquery.poshytip.min.js"></script> 
<script src="js/tabs.js"></script> 
<script src="js/touchTouch.jquery.js"></script> 
<script  src="js/jquery.validate.js"></script> 
<script src="js/jquery.zweatherfeed.js"></script> 
<script src="js/jquery.scrollTo.js"></script>
<script src="js/jquery.nav.js"></script>

<!-- Date picker--> 
<script src='js/1.8.jquery-ui.min.js'></script>
<script src="js/jquery.ui.core.js"></script>
<script src="js/jquery.ui.widget.js"></script>
<script src="js/jquery.ui.datepicker.min.js"></script>

<script src="js/functions.js"></script>
